@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/yanonekaffeesatz/v30/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZd2GP.ttf)
		format('truetype');
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 5rem;
}

* {
	box-sizing: border-box;
}

html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 16px;
	width: 100%;
}

.quote__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	p {
		width: 100%;
		margin: 0rem 1rem 1rem 1rem;
		padding: 0 0em;
		font-size: 1.5rem;
	}
}
